<h1>Fancy Ruby Blockchain!</h1>
<p>Mine amazing unique gem stones.</p>
<div class="gem decagon my-3" data-seed="123456789"></div>
<div class="gem princess my-3" data-seed="54644"></div>
<div class="gem trapez my-3" data-seed="333"></div>
<p>
  Node ID: <%= @node_id %>
</p>
<p>
  Block Height: <%= @block_height %>
</p>
<%= link_to 'Mine more', mine_path, class: 'btn btn-dark', data: { disable_with: "Please wait..." } %>
